<header>
  <div class="navbar">
    <span class="logo">Fuudi</span>
    <div class="settings-profile">
      <a href='#' id='profile'>
        <i class="fas fa-user"></i>
      </a>
      <a href='#'>
        <i class="fas fa-cog"></i>
      </a>
    </div>
  </div>
</header>
