<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="../public/scripts/utils.js"></script>
  <script type="text/javascript" src="../public/scripts/checkoutNew.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../public/styles/layout.css">

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Bebas+Neue|Righteous|Playfair+Display:400,400i,700,700i&display=swap"
    rel="stylesheet">

  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css?ver=5.8.2" rel="stylesheet">

  <title>Fuudi - Menu</title>
</head>

<body>
  <header>
    <div class="navbar">
      <span class="logo">Fuudi</span>
      <div class="settings-profile">
        <a href='#' id='profile'>
          <i class="fas fa-user"></i>
        </a>
        <a href='#'>
          <i class="fas fa-cog"></i>
        </a>
      </div>
    </div>
    <div class='checkout'>
        <button type="button" class="btn btn-primary btn-lg"> Checkout </button>
    </div>
  </header>
  <div class="overlay">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>

  </div>
  <div class="content">
    <div class="profile-info">
      <div>
        <img
          src="https://images.unsplash.com/photo-1551782450-a2132b4ba21d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
          class="img-responsive header-img">
      </div>
      <div class="restaurant-info">
        <p class="profile-name"> Burger Restaurant </p>
        <p class="restaurant-description font-italic">Lorem ipsum dolor sit
          amet,
          consectetur
          adipiscing elit. Cras eget est elementum, pretium mi sit amet,
          vehicula
          augue. Duis eget aliquam neque. Duis magna purus, bibendum ut
          imperdiet
          eget, ullamcorper vitae ipsum. Suspendisse aliquam in sem sed aliquam.
          Sed sit amet facilisis massa. Pellentesque vehicula ante lorem, non
          fermentum ante commodo eget. Aenean risus metus, vestibulum vel auctor
          nec, molestie sed metus. Nulla id placerat erat.</p>
        <p class="restaurant-hours">Open: 9:00 A.M.</p>
        <p class="restaurant-hours">Close: 9:00 P.M.</p>
        <p class="restaurant-ratings">Rating: 5*</p>
      </div>
    </div>

    <div class="listing-container">
      <div class="menu listing m-2" data-item-id="1">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
        <span id='plusminus'>
          <button class='minus'> -</button>
          <span>0</span>
          <button class='add'> +</button>
        </span>

      </div>

      <div class="menu listing m-2" data-item-id="2">
        <p class="menu-title">Salad</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$9.99</p>
        <span id='plusminus'>
            <button class='minus'> -</button>
            <span>0</span>
            <button class='add'> +</button>
          </span>
      </div>

      <div class="menu listing m-2" data-item-id="3">
        <p class="menu-title">Fries</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$4.99</p>
        <span id='plusminus'>
            <button class='minus'> -</button>
            <span>0</span>
            <button class='add'> +</button>
          </span>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>

      <div class="menu listing m-2">
        <p class="menu-title">Bacon Cheeseburger</p>
        <p class="menu-description">A juicy ground-beef burger topped with bacon
          and sharp cheddar, served on a buttered and toasted brioche bun.
          Topped
          with all the fixins.</p>
        <p class="menu-price">$16.99</p>
      </div>
    </div>
  </div class="content">

</body>

</html>
