<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../public/styles/layout.css">

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Bebas+Neue|Muli:300,300i,400,400i,700,700i&display=swap"
    rel="stylesheet">

  <title>Fuudi - Menu</title>
</head>

<body>
  <header>
    <div class="navbar">
      <p class="logo">Fuudi</p>
    </div>
    <div>
      <img
        src="https://images.unsplash.com/photo-1551782450-a2132b4ba21d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
        class="img-responsive header-img">
    </div>
  </header>

  <div class="profile-info">
    <p class="profile-name"> Burger Restaurant </p>
    <p class="restaurant-hours">Open: 9:00 A.M.</p>
    <p class="restaurant-hours">Close: 9:00 P.M.</p>
    <p class="restaurant-ratings">Rating: 5*</p>
  </div>

  <div class="listing-container rounded">
    <div class="listing rounded m-2">
      <p>TEST</p>
    </div>

    <div class="listing rounded m-2">
      <p>TEST</p>
    </div>

    <div class="listing rounded m-2">
      <p>TEST</p>
    </div>
  </div>

</body>

</html>
