<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <link rel="stylesheet" href="../public/styles/layout.css">
  <title>Fuudi - Profile</title>
</head>

<body>
  <header>
    <div class="navbar">

    </div>
    <div class="user-img">

    </div>
  </header>

  <div class="profile-info">
    <p class="profile-name"></p>
    <span>
      <p class="user-details"></p>
    </span>
  </div>

  <div class="listing-container">
    <div class="listing">

    </div>

    <div class="listing">

    </div>

    <div class="listing">

    </div>
  </div>

</body>

</html>
