<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Bebas+Neue|Playfair+Display:400,400i,700,700i&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../public/styles/layout.css">
  <title>Fuudi - Profile</title>
</head>

<body>
  <header>
    <div class="navbar">
      <p class="logo">Fuudi</p>
    </div>
    <div class="user-img">
      <img src="../notes/Paulie.jpg"
        class="profile-picture img-responsive rounded-circle">
    </div>
  </header>

  <div class="profile-info">
    <p class="profile-name">Paulie Walnuts</p>
    <p class="user-details">Member since: 2018</p>
  </div>

  <div class="listing-container">
    <div class="listing">

    </div>

    <div class="listing">

    </div>

    <div class="listing">

    </div>
  </div>

</body>

</html>
