// See: https://sass-lang.com/
$background-color: rgb(178, 210, 251);
$background-color-thin: rgba(178, 210, 251, .4);
$logo-color: rgb(42, 44, 114);
$logo-color-thin: rgba(42, 44, 114, 0.8);
$navbar-color: rgb(233, 146, 88);
$navbar-color-thin: rgba(233, 146, 88, 0.6);
$logo-font: 'Bebas Neue', 'Arial', sans-serif;
$container-color: rgb(191, 189, 193);
$container-color-thin: rgba(251, 249, 249, 0.75);
$text-light: #ede9e6;
$text-dark: #2e2d2c;
$standard-font: 'Playfair Display', 'Times New Roman', sans-serif;
$enable-gradients: 'true';

body {
  background-color: $background-color-thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $standard-font;

  h1 {
    color: #244751;
  }
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;

}

.header-img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.navbar {
  background-color: $navbar-color;
  width: 100%;
  position: fixed;
  top: 0;

  .logo {
    color: $logo-color;
    font-family: $logo-font;
    font-size: 3rem;
  }

  .settings-profile {
    color: $logo-color;
    display: flex;
    justify-content: flex-end;
  }

  i {
    font-size: 2em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  // background: $navbar-color-thin;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $text-dark;
  width: 95%;
  margin-bottom: 2rem;
  margin-top: 100px;

  .profile-name {
    width: 100%;
    margin: 16px 0;
    text-align: center;
    font-family: $standard-font;
    font-size: 1.5rem;
    font-weight: bold;
    color: $logo-color;
  }
}

.listing-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $logo-color-thin;
  border-radius: 25px;
  color: $text-dark;
}

.listing {
  width: 100%;
  background-color: $navbar-color-thin;
  border-radius: 25px;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}

.listing:hover {
  background-color: $navbar-color;
}

// Main Page

  .carousel {
    display: flex;
    justify-content: center;
  }

#img-carousel {
  padding: 2em 0;
  width: 80%;
  margin-top: 100px;

  .carousel-item {
    max-width: 100%;
    max-height: auto;
  }
  .carousel-item img {
    height: 25em;
    object-fit: cover;
  }
  .carousel-caption {
    background-color: $container-color-thin;
    border-radius: 25px;
    color: $text-dark;
    h5 {
      color: $logo-color;
      font-weight: bold;
    }
  }
}

  .restaurant-title {
  font-weight: bold;
  color: $logo-color;
  font-size: 20px;
  }

// Menu page

.restaurant-info {
  width: 100%;
  display: flex;
  padding: 0 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .restaurant-hours {
    text-align: center;
    padding: 0 1em;
  }

  .restaurant-ratings {
    text-align: center;
    padding: 0 1em;
  }
}

.menu-title {
  font-family: $standard-font;
  font-weight: bold;
  color: $logo-color;
  font-size: 20px;
}

// Profile Page

.user-img {
  display: flex;
  justify-content: center;
}

.user-details {
  width: 100%;
  text-align: center;
}

#profile {
  margin-right: 30px;
}

.order {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .order-date, .order-restaurant {
    width: 30%;
    font-family: $standard-font;
    font-size: 1rem;
    font-weight: bold;
    color: $logo-color;
  }

  .order-restaurant {
    text-align: right;
  }

  .order-contents {
    width: 80%;
  }

  .order-price {
    width: 20%;
    text-align: right;
  }
}

// Responsive Designs

@media only screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .header-img {
    border-radius: 10px;
  }

  .profile-info {
    width: 40%;
    margin-left: 1em;
  }

  .listing-container {
    width: 55%;
    margin: 2em 1em;
    height: 80vh;
    margin-top: 100px;
    overflow-y: auto;
    /* hides container scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

  .listing-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .carousel {
    width: 40%;
  }

  #img-carousel {
    width: 100%;
    margin-left: 1em;
  }
}
